<div class="content-page tabcontent" id="tabAnnouncement">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>Announcement Transacsions</h1>
            <p>The user performs Announcement operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">announcement</url>

Result Example:
[
    {
        "AnnouncementID": 21,
        "AnnouncementContent": "test anket3",
        "AnnouncementDate": "2020-10-03T00:00:00.000Z",
        "AnnouncementTitle": "title3",
        "Visible": 0
    }
]
        </code></pre>
            <p>For the Announcement List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Announcement List</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">announcement-user-list</url>
{
    "UserID": 1
}

Result Example:
[
    {
        "AnnouncementID": 21,
        "AnnouncementContent": "test anket3",
        "AnnouncementDate": "2020-10-03T00:00:00.000Z",
        "AnnouncementTitle": "title3",
        "Visible": 0
    }
]
        </code></pre>
            <p>For the User Announcement List, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement-user-list</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
         <div class="overflow-hidden content-section">
            <h2>Announcement Read User List</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">announcement-read-user-list</url>
{
    "UserID": 1
}

Result Example:
[
    {
        "AnnouncementID": 21,
        "AnnouncementContent": "test anket3",
        "AnnouncementDate": "2020-10-03T00:00:00.000Z",
        "AnnouncementTitle": "title3",
        "Visible": 0
    }
]
        </code></pre>
            <p>For the Announcement Read User List, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement-read-user-list</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
                <div class="overflow-hidden content-section">
            <h2>User Announcement Statistic</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">announcement-statistic</url>
{
    "AnnouncementID": 1
}

Result Example:
[
    {
        "UserID": 1,
        "UserName": "Ayberk",
        "UserSurname": "Çakar",
        "UserMail": "ayberk@gmail.com",
        "UserPassword": "ayberk",
        "UserDate": "1236-01-03T00:00:00.000Z",
        "UserProfession": "Yazılım Mühendisi",
        "UserCity": "İzmir",
        "RegDate": "0000-00-00"
    }
]
        </code></pre>
            <p>For the Announcement Statistic, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement-statistic</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AnnouncementID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Announcement Find</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">announcement-find</url>
{
    "AnnouncementID": 1
}

Result Example:
[
    {
        "AnnouncementID": 21,
        "AnnouncementContent": "test anket3",
        "AnnouncementDate": "2020-10-03T00:00:00.000Z",
        "AnnouncementTitle": "title3",
        "Visible": 0
    }
]
        </code></pre>
            <p>For the Announcement Find, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement-find</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AnnouncementID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">announcement</url>
{
    "AnnouncementTitle": "Announcement Title Test ",
    "AnnouncementContent": "Announcement Test Content",
    "AnnouncementDate": "2020-10-02",
}
Result Example:
{
    "message": "Announcement added."
}
        </code></pre>
            <p>For the Announcement Insert, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AnnouncementTitle</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>AnnouncementContent</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>AnnouncementDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">announcement</url>
{
    "AnnouncementID": 12,
    "AnnouncementTitle": "Announcement Title Test ",
    "AnnouncementContent": "Announcement Test Content",
    "AnnouncementDate": "2020-10-02",
    "Visible": false
}
Result Example:
{
    "message": "The Announcement has been updated."
}
        </code></pre>
            <p>For the Announcement Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AnnouncementID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>AnnouncementTitle</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>AnnouncementContent</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>AnnouncementDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Visible</td>
                    <td>Boolean</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">announcement</url>
{
    "AnnouncementID": 2,
}
Result Example:
{
    "message": "Announcement deletion has occurred."
}
        </code></pre>
            <p>For the Announcement Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AnnouncementID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Announcement Read</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">announcement-user</url>
{
    "UserID": 1,
    "AnnouncementID": 21,
    "RegDate": 2020-10-18
}
Result Example:
{
    "message": "Announcement as read added  !"
}
        </code></pre>
            <p>For the User Announcement Read, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">announcement-user</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>AnnouncementID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>RegDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-code"></div>
</div>
