<div class="content-page tabcontent" id="tabAuth">
	<div class="content-code"></div>
	<div class="content">
		<div class="overflow-hidden content-section">
			<h1>Auth Transacsions</h1>
			<p>The user performs the login, sign up and account delete operations with the following examples.</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>User Login</h2>
			<pre><code class="json">
#Request Example

POST <url id="path">login/user</url>
{
    "UserEmail": dailyathon@gmail.com,
    "UserPassword": "testpassword"
}
        
Result Example:
{
    "result": {
        "UserID": 1,
        "UserName": "Dailyathon",
        "UserSurname": "Dailyathon",
        "UserMail": "dailyathon@gmail.com",
        "UserPassword": "password",
        "UserDate": "1236-01-03T00:00:00.000Z",
        "UserProfession": "Yazılım Mühendisi",
        "UserCity": "İzmir"
    },
    "token": "secretToken"
}
        </code></pre>
			<p>For the user login, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">login/user</code>
			</p>
			</code></pre>
			<h4>QUERY PARAMETERS</h4>
			<table>
				<thead>
				<tr>
					<th>Field</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>UserEmail</td>
					<td>String</td>
					<td></td>
				</tr>
				<tr>
					<td>UserPassword</td>
					<td>String</td>
					<td>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Admin Login</h2>
			<pre><code class="json">
    #Request Example

    POST <url id="path">login/user</url>
    {
        "Username": admin,
        "Password": "password"
    }

    Result Example:
    {
        "result": {
            "AdminID": 1,
            "AdminUsername": "admin",
            "AdminPassword": "password"
        },
        "token": "secretToken"
    }
            </code></pre>
			<p> For the user login, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">login/admin</code>
			</p>
			</code></pre>
			<h4>QUERY PARAMETERS</h4>
			<table>
				<thead>
				<tr>
					<th>Field</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Username</td>
					<td>String</td>
					<td></td>
				</tr>
				<tr>
					<td>Password</td>
					<td>String</td>
					<td>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="overflow-hidden content-section">
			<h2>User Sign Up</h2>
			<pre><code>
#Request Example
POST <url id="path">sign-up/user</url>
{
    "UserName": "Dailyathon",
 	"UserSurname": "Dailyathon",
    "UserMail": "dailyathon@gmail.com",
    "UserPassword": "password",
    "UserDate": "1236-01-03T00:00:00.000Z",
    "UserProfession": "Yazılım Mühendisi",
    "UserCity": "İzmir"
}
        
Reusult Example:
{
    "message": "User registration has taken place."
}
        </code></pre>
			<p>For the sign up transaction, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">sign-up/user</code>
			</p>
			</code></pre>
			<h4>QUERY PARAMETERS</h4>
			<table>
				<thead>
				<tr>
					<th>Field</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>UserName</td>
					<td>String</td>
					<td></td>
				</tr>
				<tr>
					<td>UserSurname</td>
					<td>String</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>UserMail</td>
					<td>String</td>
					<td>
					</td>
				</tr><tr>
					<td>UserPassword</td>
					<td>String</td>
					<td>
					</td>
				</tr><tr>
					<td>UserDate</td>
					<td>String</td>
					<td>
					</td>
				</tr><tr>
					<td>UserProfession</td>
					<td>String</td>
					<td>
					</td>
				</tr><tr>
					<td>UserCity</td>
					<td>String</td>
					<td>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Admin Sign Up</h2>
			<pre><code>
#Request Example
POST <url id="path">sign-up/admin</url>
{
    "Username": "Dailyathon",
	"Password": "Dailyathon"
}

Reusult Example:
{
    "message": "Admin registration has taken place."
}
        </code></pre>
			<p>For the sign up transaction, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">sign-up/user</code>
			</p>
			</code></pre>
			<h4>QUERY PARAMETERS</h4>
			<table>
				<thead>
				<tr>
					<th>Field</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>UserName</td>
					<td>String</td>
					<td></td>
				</tr>
				<tr>
					<td>Password</td>
					<td>String</td>
					<td>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Delete My Account</h2>
			<pre><code>
#Request Example
DELETE <url id="path">delete-my-account</url>
{
    "UserEmail": "dailyathon@gmail.com"
}
        
Reusult Example:
{
    "message": "User deletion has occurred."
}
        </code></pre>
			<p>For the delete my account transaction, you need to make a DELETE call to the URL below :
				<br>
				<code class="higlighted" id="path">delete-my-account</code>
			</p>
			</code></pre>
			<h4>QUERY PARAMETERS</h4>
			<table>
				<thead>
				<tr>
					<th>Field</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>UserEmail</td>
					<td>String</td>
					<td></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="content-code"></div>
</div>
