<div class="content-page tabcontent" id="tabExchange">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>Exchange Transacsions</h1>
            <p>The user performs News operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Cripto List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">cripto</url>

Result Example:
[
    {
        "CriptoID": 1,
        "Currency": "USD",
        "ChangeWeek": "6.49",
        "ChangeDay": "0.89",
        "Price": "15,980.07",
        "Code": "BTC",
        "Name": "Bitcoin"
    }
]
        </code></pre>
            <p>For the Cripto List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">cripto</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>


            <div class="overflow-hidden content-section">
            <h2>Cripto Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">cripto</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Cripto Added."
    }
]
        </code></pre>
            <p>For the Cripto Add, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">cripto</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="overflow-hidden content-section">
            <h2>Cripto Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">cripto</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Cripto Updated."
    }
]
        </code></pre>
            <p>For the Cripto Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">cripto</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>


                <div class="overflow-hidden content-section">
            <h2>Stock List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">stock</url>

Result Example:
[
    {
        "StockID": 1,
        "LastPrice": "8,86",
        "Min": "8,59",
        "Max": "8,87",
        "Time": "18:09",
        "Text": "GARAN - GARANTİ BANKASI",
        "Code": "GARAN"
    }
]
        </code></pre>
            <p>For the Stock List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">stock</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>


            <div class="overflow-hidden content-section">
            <h2>Stock Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">stock</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Stock Added."
    }
]
        </code></pre>
            <p>For the Stock Add, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">stock</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="overflow-hidden content-section">
            <h2>Stock Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">stock</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Stock Updated."
    }
]
        </code></pre>
            <p>For the Stock Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">stock</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>


                <div class="overflow-hidden content-section">
            <h2>Currency List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">currency</url>

Result Example:
[
    {
        "CurrencyID": 1,
        "Name": "Dolar",
        "Code": "USD",
        "Buying": "7,6765",
        "Selling": "7,6845",
        "Rate": "-0.06",
        "Datetime": "2020-11-15T20:59:00."
    }
]
        </code></pre>
            <p>For the Currency List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">currency</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>


            <div class="overflow-hidden content-section">
            <h2>Currency Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">currency</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Currency Added."
    }
]
        </code></pre>
            <p>For the Currency Add, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">currency</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="overflow-hidden content-section">
            <h2>Currency Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">currency</url>
{
    "query": query,
}

Result Example:
[
    {
        "message": "Currency Updated."
    }
]
        </code></pre>
            <p>For the Currency Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">currency</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                     <td>query</td>
                    <td>String</td>
                                        <td></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="content-code"></div>
</div>
