<div class="content-page tabcontent" id="tabNews">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>News Transacsions</h1>
            <p>The user performs News operations will be with the examples below.</p>
        </div>
      
        <div class="overflow-hidden content-section">
            <h2>List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">news</url>

Result Example:
[
    {
        "NewsID": 1271,
        "NewsTitle": "TBMM enerji alanında düzenlemeler için mesai yapac",
        "NewsDescription": "TBMM Genel Kurulu, enerji alanında düzenlemeler içeren Elektrik Piyasası Kanunu ile Bazı Kanunlarda Değişiklik Yapılmasına Dair Kanun Teklifi için çalışacak.",
        "NewsImage": "https://cdn1.ntv.com.tr/gorsel/7Y8LZ8Ixo0uIzikNhqMC0Q.jpg?width=1200&mode=crop&scale=both",
        "TagID": 3,
        "TagName": "Ekonomi"
    }
]
        </code></pre>
            <p>For the News List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>News Find</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">news-find</url>
{
    "NewsID": 61
}

Result Example:
[
    {
        "NewsID": 1271,
        "NewsTitle": "TBMM enerji alanında düzenlemeler için mesai yapac",
        "NewsDescription": "TBMM Genel Kurulu, enerji alanında düzenlemeler içeren Elektrik Piyasası Kanunu ile Bazı Kanunlarda Değişiklik Yapılmasına Dair Kanun Teklifi için çalışacak.",
        "NewsImage": "https://cdn1.ntv.com.tr/gorsel/7Y8LZ8Ixo0uIzikNhqMC0Q.jpg?width=1200&mode=crop&scale=both",
        "Content": "TBMM Genel Kurulu, enerji alanında düzenlemeler içeren Elektrik Piyasası Kanunu ile Bazı Kanunlarda Değişiklik Yapılmasına Dair Kanun Teklifi için çalışacak.",
        "date": "2020-11-15",
        "TagID": 3,
        "TagName": "Ekonomi",
        "CategoryID": 1
    }
]
        </code></pre>
            <p>For the News Find, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">news-find</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User News List</h2>
            <pre><code class="json">
#Request Example

Get <url id="path">user-news</url>

Result Example:
{
    "result": {
        "NewsID": 1061,
        "NewsTitle": "Yeşil enerji kömürün tahtını yıkıyor - Sözcü",
        "NewsDescription": "Uluslararası Enerji Ajansı’nın raporuna göre, salgın krizine rağmen yenilenebilir enerjiye talep artışı devam ediyor. 2025’te de yenilenebilir enerji kömürün önüne geçecek.",
        "NewsImage": "https://i.sozcu.com.tr/wp-content/uploads/2020/11/15/iecrop/hs-9-fosil_16_9_1605415455-670x371.jpg",
        "Content": "Uluslararas Enerji Ajans (IEA) Yenilenebilir 2020 raporunu yaynlad. 2025 ylna yönelik analiz ve tahminleri barndran rapora göre 2020'de küresel enerji talebi yüzde 5 düerken, yenilenebilir kaynaklard… [+2510 chars]",
        "date": "2020-11-15T00:00:00.000Z",
        "TagID": 4,
        "TagName": "Teknoloji"
    }
}
        </code></pre>
            <p>For the User News List, you need to make a Get call to the URL below :
                <br>
                <code class="higlighted" id="path">user-news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                 <tr>
                    <td>UserID</td>
                    <td>Int</td>
                    <td></td>

                </tr>
                 <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">news</url>
{
    "NewsTitle": "TBMM enerji alanında düzenlemeler için mesai yapac",
    "NewsDescription": "TBMM Genel Kurulu, enerji alanında düzenlemeler içeren Elektrik Piyasası Kanunu ile Bazı Kanunlarda Değişiklik Yapılmasına Dair Kanun Teklifi için çalışacak.",
    "NewsImage": "https://cdn1.ntv.com.tr/gorsel/7Y8LZ8Ixo0uIzikNhqMC0Q.jpg?width=1200&mode=crop&scale=both",
    "Content": "TBMM Genel Kurulu, enerji alanında düzenlemeler içeren Elektrik Piyasası Kanunu ile Bazı Kanunlarda Değişiklik Yapılmasına Dair Kanun Teklifi için çalışacak.",
    "date": "2020-11-15",
    "TagID": 3
}

Result Example:
{
    "message": "News added."
}
        </code></pre>
            <p>For the News Insert, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsTitle</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>NewsDescription</td>
                    <td>String</td>
                </tr>                <tr>
                    <td>NewsImage</td>
                    <td>String</td>
                </tr>
                                <tr>
                    <td>Content</td>
                    <td>String</td>
                </tr>                <tr>
                    <td>date</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>TagID</td>
                    <td>Int</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">news</url>
{
    "NewsID": 2,
}
Result Example:
{
    "message": "News deletion has occurred."
}
        </code></pre>
            <p>For the News Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-code"></div>
</div>
