<div class="content-page tabcontent" id="tabNews">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>News Transacsions</h1>
            <p>The user performs News operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>News Category List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">news-category</url>

Result Example:
[
    {
        "NewsCategoryID": 1,
        "NewsCategoryName": "E-Spor"
    }
]
        </code></pre>
            <p>For the News Category List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">news-category</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">news</url>

Result Example:
[
    {
        "NewsID": 61,
        "NewsTitle": "newstitle5",
        "NewsDescription": "newsdesc5",
        "NewsImage": "newsimage5",
        "NewsCategoryID": 4,
        "NewsCategoryName": "Siyaset"
    }
]
        </code></pre>
            <p>For the News List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>News Find</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">news-find</url>
{
    "NewsID": 61
}

Result Example:
[
    {
        "NewsID": 61,
        "NewsTitle": "newstitle5",
        "NewsDescription": "newsdesc5",
        "NewsImage": "newsimage5",
        "NewsCategoryID": 4,
        "NewsCategoryName": "Siyaset"
    }
]
        </code></pre>
            <p>For the News Find, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">news-find</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User News List</h2>
            <pre><code class="json">
#Request Example

Get <url id="path">user-news</url>

Result Example:
{
    "result": {
        "NewsID": 41,
        "NewsTitle": "newstitle3",
        "NewsDescription": "newsdesc3",
        "NewsImage": "newsimage3",
        "NewsCategoryID": 2,
        "NewsCategoryName": "Spor"
    }
}
        </code></pre>
            <p>For the User News List, you need to make a Get call to the URL below :
                <br>
                <code class="higlighted" id="path">user-news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">news</url>
{
    "NewsTitle": "Newsdenemetitle",
    "NewsDescription":"Newsdenemedescription",
    "NewsImage":"Newsdenemeimage",
    "NewsCategoryID": 1
}

Result Example:
{
    "message": "News added."
}
        </code></pre>
            <p>For the News Insert, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">news</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsTitle</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>NewsDescription</td>
                    <td>String</td>
                </tr>                <tr>
                    <td>NewsImage</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>NewsCategoryID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">news</url>
{
    "NewsID": 2,
}
Result Example:
{
    "message": "News deletion has occurred."
}
        </code></pre>
            <p>For the News Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NewsID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-code"></div>
</div>
