<div class="content-page tabcontent" id="tabStatistic">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>Exchange Transacsions</h1>
            <p>The user performs News operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Dashboard Statistic</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">dashboard</url>

Result Example:
[
    {
        "thisweekUser": 0,
        "totalUser": 6,
        "totalAdmin": 9,
        "totalCategory": 8,
        "totalTag": 23,
        "totalSurvey": 6,
        "totalActiveSurvey": 5,
        "totalAnnouncement": 9,
        "totalActiveAnnouncement": 7,
        "totalEvent": 5,
        "totalActiveEvent": 0,
        "TotalNews": 128,
        "totalSport": 2,
        "totalLeague": 4
    }
]
        </code></pre>
            <p>For the Dashboard Statistic, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">dashboard</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="overflow-hidden content-section">
            <h2>Age Statistic</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">age-statistic</url>

Result Example:
[
    {
        "age1": 1,
        "age2": 1,
        "age3": 0,
        "age4": 0,
        "age5": 4
    }
]
        </code></pre>
            <p>For the Age Statistic, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">age-statistic</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>

                <div class="overflow-hidden content-section">
            <h2>Category Statistic</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">category-statistic</url>

Result Example:
[
    {
        "value": 5,
        "name": "Spor"
    },
    {
        "value": 1,
        "name": "Ekonomi"
    }
]
        </code></pre>
            <p>For the Category Statistic, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">category-statistic</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                              <tr>     <td>CategoryID</td>
                    <td>String</td>
                    <td></td></tr>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>


                <div class="overflow-hidden content-section">
            <h2>Tag Statistic</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">tag-statistic</url>

Result Example:
[
{
        "name": "Spor",
        "value": 5
    },
    {
        "name": "Teknoloji",
        "value": 2
    },
]
        </code></pre>
            <p>For the Tag Statistic, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">tag-statistic</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                              <tr>     <td>selectID</td>
                    <td>String</td>
                    <td></td></tr>
                <tr>     <td>token</td>
                    <td>String</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="content-code"></div>
</div>
