<div class="content-page tabcontent" id="tabSurvey">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>Survey Transacsions</h1>
            <p>The user performs Survey operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">survey</url>

Result Example:
[
    {
        "SurveyListID": 5,
        "SurveyName": "anket5",
        "SurveyTableName": "tblanket5",
        "SurveyStartDate": "2020-10-02T00:00:00.000Z",
        "SurveyDueDate": "2020-10-02T00:00:00.000Z",
        "SurveyUrl": "",
        "Visible": 1
    }
]
        </code></pre>
            <p>For the Survey List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">survey</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Survey List</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-user-list</url>

Result Example:
[
    {
        "SurveyListID": 3,
        "SurveyName": "anket3",
        "SurveyTableName": "tblanket3",
        "SurveyStartDate": "2020-10-02T00:00:00.000Z",
        "SurveyDueDate": "2020-10-02T00:00:00.000Z",
        "SurveyUrl": "",
        "Visible": 1
    }
]
        </code></pre>
            <p>For the User Survey List, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-user-list</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
                <div class="overflow-hidden content-section">
            <h2>User Survey List</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-read-user-list</url>

Result Example:
[
    {
        "SurveyListID": 1,
        "SurveyName": "anket1",
        "Visible": 1,
        "SurveyStartDate": "2020-10-02T00:00:00.000Z",
        "SurveyDueDate": "2020-10-02T00:00:00.000Z"
    }
]
        </code></pre>
            <p>For the User Survey List, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-read-user-list</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Survey Find</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-find</url>
{
    "SurveyListID": 1
}

Result Example:
[
    {
        "SurveyListID": 21,
        "SurveyName": "anketdenemes",
        "SurveyTableName": "tblanketdeneme",
        "SurveyStartDate": "2020-10-02T00:00:00.000Z",
        "SurveyDueDate": "2020-10-03T00:00:00.000Z",
        "SurveyUrl": "anketdeneme.com/&%?",
        "Visible": 1
    }
]
        </code></pre>
            <p>For the survey find, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-find</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Survey Statistic</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-statistic</url>
{
    "SurveyListID": 1
}

Result Example:
[
    {
        "UserID": 1,
        "UserName": "Ayberk",
        "UserSurname": "Çakar",
        "UserMail": "ayberk@gmail.com",
        "UserPassword": "ayberk",
        "UserDate": "1236-01-03T00:00:00.000Z",
        "UserProfession": "Yazılım Mühendisi",
        "UserCity": "İzmir",
        "RegDate": "0000-00-00"
    }
]
        </code></pre>
            <p>For the survey statistic, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-statistic</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
                <div class="overflow-hidden content-section">
            <h2>Survey Data</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-data</url>
{
    "SurveyListID": 21
}

Result Example:
[
    {
        "ID": 21,
        "soru1": "evet",
        "soru2": "hayır",
        "soruRenk": "Mor"
    }
]
        </code></pre>
            <p>For the survey data, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-data</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey</url>
{
    "SurveyName": "Survey Test ",
    "SurveyTableName": "tblsurveytest",
    "SurveyStartDate": "2020-10-02",
    "SurveyDueDate": "2020-10-02",
    "SurveyUrl": "www.surveytest.com"
}
Result Example:
{
    "message": "Survey added."
}
        </code></pre>
            <p>For the Survey Insert, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>SurveyTableName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>SurveyStartDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>SurveyDueDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>SurveyUrl</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">survey</url>
{
    "SurveyListID": 1,
    "SurveyName": "Survey Test",
    "SurveyTableName": "tblsurveytest",
    "SurveyStartDate": "2020-10-02",
    "SurveyDueDate": "2020-10-02",
    "SurveyUrl": "www.surveytest.com",
    "Visible": false
}
Result Example:
{
    "message": "The Survey has been updated."
}
        </code></pre>
            <p>For the Survey Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">survey</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>SurveyName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>SurveyTableName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>SurveyStartDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>SurveyDueDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>SurveyUrl</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>Visible</td>
                    <td>Boolean</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">survey</url>
{
    "SurveyListID": 2,
}
Result Example:
{
    "message": "Survey deletion has occurred."
}
        </code></pre>
            <p>For the Survey Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">survey</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Survey Read</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">survey-read</url>
{
    "UserID": 1,
    "SurveyListID": 21,
    "RegDate": 2020-10-18
}
Result Example:
{
    "message": "Survey as read added  !"
}
        </code></pre>
            <p>For the User Survey Read, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">survey-read</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>SurveyListID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>RegDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-code"></div>
</div>
