<div class="content-page tabcontent" id="tabTag">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section">
            <h1>Tag Transacsions</h1>
            <p>The user performs tag operations will be with the examples below.</p>
        </div>
        <div class="overflow-hidden content-section">
            <h2>List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">tag</url>

Result Example:
{
    "result": {
        "TagID": 4,
        "TagName": "Teknoloji",
        "CategoryID": 1
    }
}
        </code></pre>
            <p>For the Tag List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Category Tag List</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">category-tag</url>

Result Example:
{
    "result": {
        "TagID": 4,
        "TagName": "Teknoloji",
        "CategoryName": "Haber"
    }
}
        </code></pre>
            <p>For the Category Tag List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">category-tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Tag List</h2>
            <pre><code class="json">
#Request Example

Get <url id="path">user-tag</url>
{
    "UserID": 1
}

Result Example:
[
    {
        "TagID": 1,
        "TagName": "Spor",
        "CategoryID": 1,
        "CategoryName": "Haber"
    },
    {
        "TagID": 3,
        "TagName": "Ekonomi",
        "CategoryID": 1,
        "CategoryName": "Haber"
    }
]
        </code></pre>
            <p>For the User Tag List, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">user-tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Tag Find</h2>
            <pre><code class="json">
#Request Example

GET <url id="path">tag-find</url>
{
    "TagID": 1
}

Result Example:
[
    {
        "TagID": 1,
        "TagName": "Spor",
        "CategoryID": 1,
        "CategoryName": "Haber"
    }
]
        </code></pre>
            <p>For the Tag Find, you need to make a GET call to the URL below :
                <br>
                <code class="higlighted" id="path">tag-find</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TagID</td>
                    <td>Int</td>
                    <td></td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Insert</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">tag</url>
{
    "TagName": "Teknoloji",
    "CategoryID": 1
}
Result Example:
{
    "message": "Tag added."
}
        </code></pre>
            <p>For the Tag Insert, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TagName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>CategoryID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Update</h2>
            <pre><code class="json">
#Request Example

PUT <url id="path">tag</url>
{
    "TagID": 1,
    "TagName": Spor,
    "CategoryID": 1
}
Result Example:
{
    "message": "The Tag has been updated."
}
        </code></pre>
            <p>For the Tag Update, you need to make a PUT call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TagID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>TagName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>CategoryID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">category</url>
{
    "TagID": 2,
}
Result Example:
{
    "message": "Tag deletion has occurred."
}
        </code></pre>
            <p>For the Tag Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TagID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Tag Select</h2>
            <pre><code class="json">
#Request Example

POST <url id="path">user-tag</url>
{
    "UserID": 1,
    "TagName": "Teknoloji",
    "RegDate": 2020-10-18
}
Result Example:
{
    "message": "Tag selection added !"
}
        </code></pre>
            <p>For the User Tag Select, you need to make a POST call to the URL below :
                <br>
                <code class="higlighted" id="path">user-tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>TagName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>RegDate</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section">
            <h2>User Tag Delete</h2>
            <pre><code class="json">
#Request Example

DELETE <url id="path">user-tag</url>
{
    "UserID": 1,
    "TagName": "Teknoloji"
}
Result Example:
{
    "message": "Selected Tag deletion has been occurred."
}
        </code></pre>
            <p>For the User Tag Delete, you need to make a DELETE call to the URL below :
                <br>
                <code class="higlighted" id="path">user-tag</code>
            </p>
            </code></pre>
            <h4>QUERY PARAMETERS</h4>
            <table>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>UserID</td>
                    <td>Int</td>
                </tr>
                <tr>
                    <td>TagName</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>String</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="content-code"></div>
</div>
